<% content_for :gametitle do %> 
 <%= render "gametitle" %>
<% end %> 
<% content_for :login do %>
  <%= render "shared/signinout" %>
<% end %>


<% content_for :main do %>
  <div id="speech">
    <%= render "speech" %>
  </div>
  <div id="action"> 
    <%= render "action" %>  
  </div> 
<%end%>
